/* ------------ Resets ------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face{
    font-family: 'Raleway Regular';
    src: local('Raleway Regular'), url(../fonts/Raleway-Medium.ttf) format('truetype');
  }
  @font-face{
    font-family: 'Raleway Light';
    src: local('Raleway Light'), url(../fonts/Raleway-Light.ttf) format('truetype');
  }
  @font-face{
    font-family: 'Raleway Thin';
    src: local('Raleway Thin'), url(../fonts/Raleway-Thin.ttf) format('truetype');
  }
  @font-face{
    font-family: 'Raleway Bold';
    src: local('Raleway Bold'), url(../fonts/Raleway-SemiBold.ttf) format('truetype');
  }
  
body{
    background: url(../Images/bg-bs.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #cccccc;
}

#main-container{
    width: 500px;
    text-align: center;

    margin: 10px auto;
    padding: 15px 0px;

    border-radius: 5px;

    background: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 538px){
    
    #main-container{
        max-width: 320px;
        margin: 10px auto;
    }
}