@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background: url(../Images/bg.png) no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
}

.bulbasaurBackground{
    background: url(../Images/bg-bs.jpg) no-repeat center center fixed;
    background-size: cover;
}
.charmanderBackground{
    background: url(../Images/bg-cm.jpg) no-repeat center center fixed;
    background-size: cover;
}
.squirtleBackground{
    background: url(../Images/bg-sq.jpg) no-repeat center center fixed;
    background-size: cover;
}
.genericBackground{
    background: url(../Images/bg.png) no-repeat center center fixed;
    background-size: cover;
}

#main-container{
    width: 500px;
    text-align: center;

    margin: 10px auto;
    padding: 15px 0px;

    border-radius: 5px;

    background: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 538px){
    
    #main-container{
        max-width: 320px;
        margin: 10px auto;
    }
}