/* ------------ Resets ------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../Images/bg-bs.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #cccccc;
}

#main-container{
    width: 500px;
    text-align: center;

    margin: 10px auto;
    padding: 15px 0px;

    border-radius: 5px;

    background: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 538px){
    
    #main-container{
        max-width: 320px;
        margin: 10px auto;
    }
}