#inputPokemon {
    margin: 15px;
}

#inputPokemon input{
    height: 30px;
    width: 100%;

    padding: 10px;

    border-radius: 3px;
    border: none;
}

#inputPokemon button{
    height: 30px;
    width: 100%;
    margin-top: 6px;

    color: white;
    font-weight: 400;
    background: rgb(24, 224, 24);
    border-radius: 3px;
    border: none;
    outline: none;
}

#inputPokemon button:hover{
    background: rgb(20, 199, 20);
}

#inputPokemon button:active{
    background: rgb(47, 180, 47);
}