#pokemon-data{
    display: none;
    margin: 0px 15px;
    border-radius: 5px;

    color: #252525;
}

#pokemon-data img{
    width: 60%;
}

#pokemon-data h2{
    text-transform: uppercase;
    font-family: 'Raleway Bold', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    /* color: rgb(0, 0, 0); */
}


#pokemon-data p{
    margin: 5px;
    text-transform: capitalize;
    text-align: left;
    font-family: 'Raleway Regular', sans-serif;
}

#pokemon-data p:last-child{
    text-align: justify;
    line-height: 1.5rem;
}